

.containerDiv div  {
    border: 1px solid black;
    gap: 0px;
    
}

.containerDiv {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 100vw;
    height: 100vh;
}